{% extends "base.html" %}
{% block content %}
<br>

<head>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <style>
        body {
            background: aqua;
        }
    </style>
</head> <b>
    <p>Today is <u><label id='today'></label></u></p>
</b>
<br>
<div id="pi" class="alert alert-primary"></div>

<py-script>
    import datetime as dt
    pyscript.write('today', dt.date.today().strftime('%A %B %d, %Y'))

</py-script>

<body>
    <h1 style="color:blue">관심있는 분야를 선택하세요</h1>
    <br>
    <form action="{% url 'search:recomand' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="게임" name="game">
        <input type="submit" value="앱" name="app">
        <input type="submit" value="네트워크" name="network">
        <input type="submit" value="임베디드" name="embedded">
        <input type="submit" value="인공지능" name="ai">
    </form>
</body>
{% endblock %}