{% extends "base.html" %}
{% block content %}
<h1 style="color:blue">전공 및 교양 현황</h1>
<br>

{% for sco in sd %}
    <h2>{{sco.field}} ({{sco.my_score}} / {{sco.min_score}})</h2>
    {% for sub in sco.sub_field%}
        <h3> {{sub.sub_field}} ({{sub.my_score}} / {{sub.min_score}})</h3>
        {% for lec in sub.lec_info%}
            <p>{{lec.isClear}}{{lec.lecture_name}}{{lec.grade}}</p>
        {% endfor%}
    {% endfor %}
    {% if sco.field == "전공필수" %}
        {% for lec2 in major%}
            <p>
                {{lec2.isClear}}
                {% if lec2.changed == "(신설)"%}
                    {{lec2.new_name}}
                {% elif lec2.changed == "(삭제)" %}
                    {{lec2.name}}
                    {{lec2.changed}}
                {% elif lec2.changed == "(변경)" %}
                    {{lec2.name}}
                    ->
                    {{lec2.new_name}}{{lec2.changed}}
                {% else %}
                    {{lec2.name}}
                {% endif %}
                {{lec2.prerequire}}{{lec2.score}}</p>
        {% endfor %}
    {% endif %}
    {% if sco.field == "전공선택"%}
        {% for lec in selection%}
            <p>{{lec.isClear}} 
                {% if lec.previous_lecture_name != ""%}
                    {{lec.previous_lecture_name}} -> 
                {% endif %}
                {{lec.lecture_name}} {{lec.grade}}
            </p>
        {% endfor %}

    {% endif %}
    
{% endfor %}

</form>
{% endblock %}