{% extends "base.html" %}
{% block content %}
<h1 style="color:blue">전공 및 교양 현황</h1>
<br>

{% for sco in sd%}
    <h2>{{sco.field}} ({{sco.my_score}} / {{sco.min_score}})</h2>
    {% for sub in sco.sub_field%}
        <h3> &nbsp;&nbsp;&nbsp;&nbsp;{{sub.sub_field}} ({{sub.my_score}} / {{sub.min_score}})</h3>
        {% for lec in sub.lec_info%}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{lec.isClear}}&nbsp;{{lec.name}}</p>
        {% endfor%}
    {% endfor %}
    {% if sco.field == "전공필수" %}
        {% for lec in major%}
            <p>{{lec.isClear}}{{lec.name}}{{lec.changed}}{{lec.prerequire}}{{lec.score}}</p>
        {% endfor %}
    {% endif %}
    {% if sco.field == "전공선택"%}

    {% endif %}
{% endfor %}

</form>
{% endblock %}