{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>


<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    <!--헤더 부분 끝
        -->
    <div id="Slideshow">
        <div id="slides">
            <img src="{% static 'main1.jpg'%}" alt="">
            <img src="{% static 'main2.jpg'%}" alt="">
            <img src="{% static 'main3.png'%}">
            <img src="{% static 'main4.jpg'%}">
        </div>
    </div>


    <!--본문 끝-->
    <footer>
        <!--푸터-->
        <div id="company">
            <p>충청북도 청주시 서원구 충대로 1 E8-1 공학관<br>
                dksdudgn00@chungbuk.ac.kr</p>
        </div>
    </footer>

    <script src="{% static 'slideshow.js' %}"></script>
</body>


{% endblock %}