{% extends "base.html" %}
{% block content %}

<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<h1 style="color:blue", "font-family:Lobster"> 계산하고자 하는 학점이수목록 엑셀 파일을 업로드 해주세요. </h1>
<br>
<form action="{% url 'search:upload_file' %}" method="POST" enctype="multipart/form-data">
    <input type="file" name="uploaded_file">
    {% csrf_token %}
    <input type="submit" value="Upload" onclick="upload_file()">
</form>
<br>

<form action="{% url 'search:calculator' %}" method="POST">
    {% csrf_token %}
    <select name="year">
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
    </select>
    <input type="text" name="file_name" placeholder="파일명을 입력하세용">
    <input type="submit" name="calculator" value="파일 계산!">

</form>

<br>

<div>
    <br>
    <form action="{% url 'search:read_user_lecture' %}" method="POST">
        {% csrf_token %}
        <input type="submit" name="read_user_lecture" value="읽어온 데이터">
    </form>
</div>

<br>
<br>

<form action="{% url 'search:get_my_lecture' %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="my_lec" value="내 강의">
</form>

<br>
<br>
{% endblock %}